html {
  height: 100%;
  width: 100%;
}
* {
  text-align: center;
  }
div {
  text-align: center;
}
@import url('https://fonts.cdnfonts.com/css/google-sans');
body {
  font-family: 'Product Sans', sans-serif;
}
b{
  height: 200px;
  width: 400px;
  border-radius:10 20 10 20 ;
  margin:10px ;
}
ul {
  list-style: none;
  font-size: 25px;
  font-weight: 700;
}
photos {
  margin: 20px;
  flex-direction: column-reverse;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
